
<mat-tab-group>
   
  <mat-tab label="Home">
    <div class="box mat-elevation-z4">
      <section class="row m-4">
        <div class="d-flex
        col-sm-12 col-md-6 col-lg-6
                    flex-column
                    justify-content-center
                    p-2
                    align-items-center">
                    <div class="d-inline-flex">
                    <img class="img1" height="50" src="\assets\To_Do_Tracker_Logo.png"/>        
          <h1 class="wrap fw-bold fs-1">To Do Tracker</h1>
        </div>
          <mat-divider></mat-divider>
          <p class="pt-3 pb-2  text-wrap description">
            To-do Tracker can help you get, and stay,
            on top of important projects and piles of tasks or decisions. For instance, imagine you're heading a team
            that's
            working on a project. There are so many tasks to do, and so many people doing them,
            that staying on top of it all seems overwhelming.
            <br><div id="link"><span class="text-primary">Dont't Have Account ? </span><a (click)="disableLink()" class="btn btn-outline-dark" routerLink="/register">Register Now</a></div>
          </p>
        </div>
        <div class="d-flex
        col-sm-12 col-md-6 col-lg-6
                    flex-column
                    justify-content-center
                    p-2
                    align-items-center">
          <router-outlet></router-outlet>

        </div>
      </section>
    </div>
  </mat-tab>

  <mat-tab label="About Us">
    <div class="box mat-elevation-z4">
      <app-about-us></app-about-us>
    </div>
  </mat-tab>

  <mat-tab label="Features">
    <div class="box mat-elevation-z4">
     <app-features></app-features>
    </div>
  </mat-tab>

  <mat-tab label="Contact">
    <div class="box mat-elevation-z4">
      <app-contact></app-contact>
    </div>
  </mat-tab>
</mat-tab-group>
<app-footer></app-footer>