/* .maicard{
    height: 30em !important;
    width: 50em !important;
    left: 19em !important;
    top: 5em !important;
} */
/* .img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 43em!important;
} */